@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css');
@import 'variables';

@mixin phone {
    @media screen and (max-width: 500px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: 501px) and (max-width: 906px) {
        @content;
    }
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    text-align: center;
    flex-wrap: wrap;
    background-image: $primary-color;
    color: #ffffff;

    @include phone {
        font-size: 1.5rem;
        // background-color: $primary-color-phone;
    }


}

main {
    width: 100%;
    // max-width: 30em;

    .title {
        position: relative;

        .title-text {
            position: absolute;
            left: 50%;
            top: 50%;
            width: 100%;
            z-index: 10;
            transform: translate(-50%, -50%);
        }

    }
}

.ts_cm {
    opacity: 0.5;
}

h1 {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1;
}

p {
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 1.5;
}

ul {
    margin: 0;
    list-style-type: none;
}

li {
    display: inline-block;
    margin-right: .6rem;
    margin-left: .6rem;
}

a {
    color: #ffffff;
    text-decoration: none;
    border-bottom: 3px solid transparent;
}

a:hover,
a:focus {
    border-bottom-color: rgba(255, 255, 255, .8);
}

.Logo {
    width: 50px;
    height: 50px;
    fill: currentColor;
}