@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css');
@import 'variables';

@mixin phone {
    @media screen and (max-width: 500px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: 501px) and (max-width: 906px) {
        @content;
    }
}




body {
    font-size: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: $primary-color;
    color: #ffffff;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}

.photo_of_me {
    height: 200px;
    width: 200px;
}

.container {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 75%;
    padding: 1rem 0;
}

.images {
    max-width: 1000px;
    padding: 1rem 0;
    // border: 20px solid blue;
}

.text {
    padding: 1rem 0;
    // border: 5px solid black;
    text-align: left;
}

.logo {
    height: 50px;
    width: 50px;
}

.hobbies_ul {
    text-align: left;
}